.vs/
EasySaveConsole/bin/
EasySaveConsole/obj/
EasySaveConsole/.vs/
BackupEngine/bin/
BackupEngine/obj/
BackupEngine/.vs/
LogLib/bin/
LogLib/obj/
LogLib/.vs/
EasySaveGUI/bin/
EasySaveGUI/obj/
EasySaveGUI/.vs/
LanguageLib/bin/
LanguageLib/obj/
LanguageLib/.vs/